*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.container{
    border: 2px solid black;
    height:fit-content;
    width: 356px;
}

.timer{
    font-size: 7rem;
}

.controls{
    height: 80px;
    width: 90px;
}